
body {background-image: url(orange-bg.png); }
/* background-size: cover; */
.container { width:1028px; height: 280px; border:3px solid #f90; border-radius: 30px; background-color: white; position: relative; margin: 0 auto; margin-top: 30px;}
.container .wrapper { padding: 30px 35px; position: relative;}
.container h1 { font-size: 32px; color: #f90; margin-bottom: 10px;}
.container .wrapper ul {position: absolute; color: white; background-color:#ffa500; border-radius:25px; padding:0 10px; top: 30px; right: 35px;}
.container .wrapper a:link { color:white; }
.container .wrapper a:visited { color:white; }
.container .wrapper a:hover { color:white; text-decoration: underline; }
.container .wrapper a:active { color:white; } { }

.container .wrapper ul li {line-height: 1.4; padding: 14px 10px; float: left;}
.container .wrapper ul li::after {padding-left: 0;}
.wrapper p {width: 300px; float: left; padding-right: 20px; line-height: 1.3em;}
.container .orange { position: absolute; right: -16px; bottom: -90px;}